<!DOCTYPE html>
<html lang="en">

<head>
    <title>Save Bulletin</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/form-style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <div class="user-details">
        <div class="input-box">
            <h1>Se ha guardado correctamente la mascota</h1>
            <li class="last"><a class="last" href="/adoppet">Volver al inicio</a></li>
        </div>
    </div>

</body>

</html>