<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div>
                <a href="/adoppet"><img src="images/logo.png"></a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="menu_text">
                <ul>
                    <li class="last"><a class="last" href="/person">Registrarse</a></li>
                    <li class="last"><a class="last" href="/login">Iniciar Sesión</a></li>
                    <li class="last">
                        <a href="#"><img src="images/search-icon.png"></a>
                    </li>
                    <li class="active">
                        <div id="myNav" class="overlay">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <div class="overlay-content">
                                <a href="/adoppet">Inicio</a>
                                <a href="html/about.html">Acerca de</a>
                                <a href="/adoppet/galery">Galería</a>
                            </div>
                        </div>
                        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>